img {
  max-width: 100%;
  display: block;
}

.page-tile {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

button {
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
}

.mask-container {
  position: relative;
}

.color-image {
  position: absolute;
  inset: 0;
  background-image: url(public/color-image.jpg);
  background-size: cover;
  mask-image: url('public/image-mask.png');
  mask-size: cover;
  mask-position: 0% 0%;
}

.mask-animation {
  animation: addColor 10000ms steps(24) forwards;
}

@keyframes addColor {
  0% {
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
  }

  100% {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
  }
}